@model IEnumerable<DiegoExamen1.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categorias.Nombre)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Clientes.Nombre_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendedores.Nombre_Vendedor)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categorias.Nombre)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Clientes.Nombre_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendedores.Nombre_Vendedor)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreado)
        </td>
        <td>
            @Html.ActionLink("Venta", "ventaProductos", new { id = item.idProducto }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.idProducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProducto })
        </td>
    </tr>
}

</table>
